/********** FONTS Paramètre **********/
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");

:root {
  --color1: black;
  --color2: #ddb952;
  --color3: antiquewhite;
  --color4: #F1F2F6;
  --color5: #01DF74;
  --color6: cyan;
  --color7: #524A3A;
}

/********** RESET Paramètre généraux **********/
body {
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
}

html  {
  scroll-behavior: smooth; /* Permet de faire un scroll fluide */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--color1);
}

/* ******************** NAVBAR ******************** */
nav {
  overflow: hidden;
  background-color: var(--color2);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

header li {
  float: right;
  font-size: 1.2rem;
}

header li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 18px 16px; /* 18px en HAUT-BAS et 16px à GAUCHE et à DROITE */
}

#logo {
  float: left;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 2rem;
}

/* ******************** IMAGE PRINCIPALE ******************** */
#imagePrincipale {
  padding-top: 60px;
  background: url("media/image-principal.jpg") no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: var(--color3);
  font-size: 6rem;
  padding-top: 100px;
  text-shadow: 1px 3px 2px var(--color1);
}

/* Le premier trait */
#premierTrait {
  height: 1px;
  width: 25%;
  background-color: var(--color3);
  margin: -3px auto;
  box-shadow: 1px 3px 2px var(--color1);
}

h3 {
  text-align: center;
  color: var(--color3);
  font-size: 3rem;
  text-shadow: 1px 3px 2px var(--color1);
}

/* ******************** SECTION 1 PRESENTATION ******************** */
#presentation {
  background-color: var(--color3);
  padding: 10px 0 100px 0;
}

#textIntro {
  padding: 0px 20%;
}

#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;
}

.imagesPrestations h4 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
  font-weight: 400;
}

.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
}

.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

/* ******************** SECTION 2 TOURISME ******************** */
#tourisme {
  height: 1400px;
  background-color: var(--color4);
  padding: 1px 2%;
}

#tourisme h2 {
  padding-top: 60px;
}

#palais {
  background: url(media/Gyeongbokgung-Palace.jpg);
}
#tour {
  background: url(media/beautiful-architecture-building-.jpg);
}
#pont {
  background: url(media/gwangan-bridge-busan-korea.jpg);
}
#jardin-Huwon {
  background: url(media/autumn-palace.jpg);
}

#tourisme li {
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}

#tourisme p {
  height: 45px;
  width: 235px;
  background-color: var(--color5);
  float: right;
  margin: 50px -180px 0 0;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15px;
  box-shadow: 4px 4px 0 1px rgba(90, 161, 43, 1);
}

#tourisme #tour, #tourisme #jardin-Huwon {
  float: right;
}

#tour p, #jardin-Huwon p {
  float: left;
  margin-left: -180px;
  background-color: var(--color6);
  box-shadow: -4px 4px 0 1px rgba(15, 154, 156, 1);
}

/* ******************** FOOTER ******************** */
footer {
  background-color: var(--color7);
  color: var(--color3);
  padding: 20px 0 10px 0; /* 20px en HAUT, 0 sur le coté DROIT, 10px en BAS et 0 sur le coté GAUCHE */
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 900px; /* 900px de largeur maximal Pour ne pas que le formulaire s'agrandit à l'infini si l'écran utilisateur est assez grand ! */
}

input, textarea, button {
  outline: none;
  width: 55%; /* Toujours exprimé en % : 55% de largeur */
  padding: 15px 10px; /* 15px en HAUT et en BAS, 10px à GAUCHE et à DROITE */
  margin: 2px 0; /* 2px en HAUT et en BAS, 0 à GAUCHE et à DROITE */
  font-size: 1.2rem;
  font-family: "Advent Pro", sans-serif;
  border-radius: 8px;
}

textarea {
  height: 120px;
  resize: none; /* Pour ne pas que l'utilisateur puisse redimensionner la zone de texte */
}

button {
  font-size: 1.5rem;
  background-color: var(--color3);
  color: var(--color7);
  font-weight: 700;
}

button:hover {
  background-color: var(--color2);
  color: var(--color1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: var(--color3);
  margin: 60px auto; /* 60px en HAUT et en BAS, et auto sur les cotés DROIT/GAUCHE pour le centrer */
}

#copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%; 
}

#copyright {
  width: 50%;
  text-align: left;
  color: var(--color3);
}

#icons {
  width: 50%;
  text-align: right;
} 

#icons a {
  display: inline-block;
  padding: 0 15px;
  color: var(--color3); 
}

#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

/* ******************** MEDIA QUERIES ******************** */
@media screen and (max-width: 1024px) {
  #tourisme {
    height: auto; /* Ajustez la hauteur selon vos besoins */
    padding: 10px; /* Ajustez le padding selon vos besoins */
  }
  
  #tourisme li {
    width: 100%;
    margin: 20px 0;
    position: relative;
  }
  
  #tourisme p {
    margin: 20px 0;
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {

    #tourisme {
    margin-top: 60px; /* Ajout de la marge supérieure pour compenser la hauteur de la navigation */
  }
  #presentation #textIntro {
    padding: 0 10%;
  }

  #prestations {
    justify-content: center;
    padding: 30px 5%;
  }

  .imagesPrestations {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  nav {
    z-index: 99;
  }
  nav {
    position: fixed; /* Ajoutez cette ligne pour maintenir la barre de navigation fixe */
    top: 0; /* Ajoutez cette ligne pour fixer la barre de navigation en haut de l'écran */
    z-index: 999; /* Ajoutez cette ligne pour gérer la superposition */
  }

  header li {
    float: none;
    font-size: 1rem;
  }

  header li a {
    padding: 12px 10px;
  }

  #logo {
    float: none;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1.3rem;
  }
  h2{
    font-size: 1.6rem;
  }

}

