/********** FONTS Paramètre **********/
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");

:root {
  --color1: black;
  --color2: #ddb952;
  --color3: antiquewhite;
  --color4: #F1F2F6;
}

/********** RESET Paramètre généraux **********/
body {
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--color1);
}

/* ******************** NAVBAR ******************** */
nav {
  overflow: hidden;
  background-color: var(--color2);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

header li {
  float: right;
  font-size: 1.2rem;
}

header li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 18px 16px; /* 18px en HAUT-BAS et 16px à GAUCHE et à DROITE */
}

#logo {
  float: left;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

/* ******************** IMAGE PRINCIPALE ******************** */
#imagePrincipale {
  padding-top: 60px;
  background: url("media/image-principal.jpg") no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: var(--color3);
  font-size: 6rem;
  padding-top: 100px;
  text-shadow: 1px 3px 2px var(--color1);
}

/* Le premier trait */
#premierTrait {
  height: 1px;
  width: 25%;
  background-color: var(--color3);
  margin: -3px auto;
  box-shadow: 1px 3px 2px var(--color1);
}

h3 {
  text-align: center;
  color: var(--color3);
  font-size: 3rem;
  text-shadow: 1px 3px 2px var(--color1);
}

/* ******************** SECTION 1 PRESENTATION ******************** */
#presentation {
  background-color: var(--color3);
  padding: 10px 0 100px 0;
}

#textIntro {
  padding: 0px 20%;
}

#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;
}

.imagesPrestations h4 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
  font-weight: 400;
}

.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
}

.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

/* ******************** SECTION 2 TOURISME ******************** */
#tourisme {
  height: 1400px;
  background-color: var(--color4);
  padding: 1px 2%;
}

#tourisme h2 {
  padding-top: 60px;
}

#palais {
  background: url(media/Gyeongbokgung-Palace.jpg);
}
#tour {
  background: url(media/beautiful-architecture-building-.jpg);
}
#pont {
  background: url(media/gwangan-bridge-busan-korea.jpg);
}
#jardin-Huwon {
  background: url(media/autumn-palace.jpg);
}

#tourisme li {
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}

#tourisme p {
  height: 45px;
  width: 235px;
  background-color: #01DF74;
}
